.container {
    margin: 50px 0 ;
}

.card{
    margin: 0 2% !important;
}

.infected{
    border-bottom: 10px solid rgba(242, 184, 212);
}

.recovered{
    border-bottom: 10px solid rgba(111, 166, 232);
}

.deaths{
    border-bottom: 10px solid rgba(0, 0, 0);
}