body {
    background-color: rgb(167, 196, 167);
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image{
    width: 400px;
    margin-top: 30px;
}
